﻿@inject PharmXStatusDashboard.Services.GlobalTableService tableService
@implements IDisposable
@using Radzen.Blazor

<style>
    .has-problem {
        color: coral
    }
</style>

@if (rowCount > 0)
{
    @Title
    <RadzenGrid TItem="TableEntities.Organization" Data="@organizations" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                AllowFiltering="rowCount > 2" AllowSorting="rowCount > 2">
        <Columns>
            <RadzenGridColumn TItem="TableEntities.Organization" Property="ShortName" Title="Имя" Width="200px">
                <Template Context="data">
                    <span class="@GetClass(data)">@data.ShortName</span>
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="TableEntities.Organization" Property="FullName" Title="Полное Имя" Width="200px">
                <Template Context="data">
                    <span class="@GetClass(data)">@data.FullName</span>
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="TableEntities.Organization" Property="Inn" Title="ИНН" Width="100px">
                <Template Context="data">
                    <span class="@GetClass(data)">@data.Inn</span>
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="TableEntities.Organization" Property="IsResident" Title="Резидент РФ" Width="150px">
                <Template Context="data">
                    <span class="@GetClass(data)">@data.IsResident</span>
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="TableEntities.Organization" Property="Leadership" Title="Руководство" Width="150px">
                <Template Context="data">
                    <span class="@GetClass(data)">@data.Leadership</span>
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="TableEntities.Organization" Property="Is7VZN" Title="Участник программы 7 ВЗН" Width="150px">
                <Template Context="data">
                    <span class="@GetClass(data)">@data.Is7VZN</span>
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="TableEntities.Organization" Property="Id" Title="Регистрационный номер участника" Width="300px">
                <Template Context="data">
                    <span class="@GetClass(data)">@data.Id</span>
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="TableEntities.Organization" Property="TSDType" Title="Тип ТСД" Width="100">
                <Template Context="data">
                    <span class="@GetClass(data)">@data.TSDType</span>
                </Template>
            </RadzenGridColumn>
        </Columns>
    </RadzenGrid>
}

@code
{
    [Parameter]
    public string Title { get; set; } = "Организации";
    [Parameter]
    public Predicate<TableEntities.Organization> Predicate { get; set; }

    protected int rowCount => organizations.Count();
    protected IEnumerable<TableEntities.Organization> organizations => Predicate == null ?
        tableService.OrgTable :
        tableService.OrgTable.FindAll((item) => Predicate(item as TableEntities.Organization));

    protected override void OnInitialized()
    {
        tableService.TableChanged += Update;
    }

    protected void Update()
    {
        var task = Task.Run(async () => await InvokeAsync(StateHasChanged));
        task.Wait();
    }

    public void Dispose()
    {
        tableService.TableChanged -= Update;
        GC.Collect();
    }

    protected string GetClass(TableEntities.Organization organization)
    {
        return organization.HasProblem ? "has-problem" : string.Empty;
    }
}