﻿@inject PharmXStatusDashboard.Services.GlobalTableService tableService
@implements IDisposable
@using Radzen.Blazor

<style>
    .has-problem {
        color: coral
    }
</style>

@Title
<RadzenGrid TItem="TableEntities.Organization" Data="@tableService.OrgTable" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
            AllowFiltering="true" AllowSorting="true">
    <Columns>
        <RadzenGridColumn TItem="TableEntities.Organization" Property="ShortName" Title="Имя" Width="200px">
            <Template Context="data">
                <span class="@GetClass(data)">@data.ShortName</span>
            </Template>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="TableEntities.Organization" Property="FullName" Title="Полное Имя" Width="200px">
            <Template Context="data">
                <span class="@GetClass(data)">@data.FullName</span>
            </Template>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="TableEntities.Organization" Property="Inn" Title="ИНН" Width="100px">
            <Template Context="data">
                <span class="@GetClass(data)">@data.Inn</span>
            </Template>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="TableEntities.Organization" Property="IsResident" Title="Резидент РФ" Width="150px">
            <Template Context="data">
                <span class="@GetClass(data)">@data.IsResident</span>
            </Template>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="TableEntities.Organization" Property="Leadership" Title="Руководство" Width="150px">
            <Template Context="data">
                <span class="@GetClass(data)">@data.Leadership</span>
            </Template>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="TableEntities.Organization" Property="Is7VZN" Title="Участник программы 7 ВЗН" Width="200px">
            <Template Context="data">
                <span class="@GetClass(data)">@data.Is7VZN</span>
            </Template>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="TableEntities.Organization" Property="Id" Title="Регистрационный номер участника" Width="300px">
            <Template Context="data">
                <span class="@GetClass(data)">@data.Id</span>
            </Template>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="TableEntities.Organization" Property="TSDType" Title="Тип ТСД" Width="100">
            <Template Context="data">
                <span class="@GetClass(data)">@data.TSDType</span>
            </Template>
        </RadzenGridColumn>
    </Columns>
    <Template Context="organization">
        <PharmXGrid Predicate="(item) => item.OrgName == organization.ShortName" ShowOrgNameColumn="false" Title="PharmX" />
        <TsdGrid Predicate="(item) => item.OrgName == organization.ShortName" ShowOrgNameColumn="false" Title="ТСД" />
    </Template>
</RadzenGrid>

@code
{
    [Parameter]
    public string Title { get; set; } = string.Empty;

    protected override void OnInitialized()
    {
        tableService.TableChanged += Update;
    }

    protected void Update()
    {
        var task = Task.Run(async () => await InvokeAsync(StateHasChanged));
        task.Wait();
    }

    public void Dispose()
    {
        tableService.TableChanged -= Update;
        GC.Collect();
    }

    protected string GetClass(TableEntities.Organization organization)
    {
        return organization.HasProblem ? "has-problem" : string.Empty;
    }
}