﻿@inject PharmXStatusDashboard.Services.GlobalTableService tableService
@implements IDisposable
@using TableEntities
@using Radzen.Blazor

<style>
    .has-problem {
        color: coral
    }

    .good-status, .bad-status {
        width: 100%;
        height: 100%;
    }

    .good-status {
        background-color: lightgreen;
        color: lightgreen;
    }

    .bad-status {
        background-color: coral;
        color: coral;
    }
</style>

@if (rowCount > 0)
{
    @Title
    <RadzenGrid TItem="TableEntities.PharmX" Data="@pharmX" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                AllowFiltering="rowCount > 2" AllowSorting="rowCount > 2">
        <Columns>
            @if (ShowOrgNameColumn)
            {
                <RadzenGridColumn TItem="TableEntities.PharmX" Property="OrgName" Title="Организация" Width="200px">
                    <Template Context="data">
                        <span class="@GetClass(data)">@data.OrgName</span>
                    </Template>
                </RadzenGridColumn>
            }
            <RadzenGridColumn TItem="TableEntities.PharmX" Property="InnerIp" Title="IP" Width="200px">
                <Template Context="data">
                    <span class="@GetClass(data)">@data.InnerIp</span>
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="TableEntities.PharmX" Property="Port" Title="Порт" Width="50px">
                <Template Context="data">
                    <span class="@GetClass(data)">@data.Port</span>
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="TableEntities.PharmX" Property="ConnectionGateway" Title="Шлюз подключения" Width="200px">
                <Template Context="data">
                    <span class="@GetClass(data)">@data.ConnectionGateway</span>
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="TableEntities.PharmX" Property="Version" Title="Версия" Width="100px">
                <Template Context="data">
                    <span class="@GetClass(data)">@data.Version</span>
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="TableEntities.PharmX" Property="ServerName" Title="Сервер" Width="200px">
                <Template Context="data">
                    <span class="@GetClass(data)">@data.ServerName</span>
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="TableEntities.PharmX" Property="StandType" Title="Тип стенда" Width="150px">
                <Template Context="data">
                    <span class="@GetClass(data)">@data.StandType</span>
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="TableEntities.PharmX" Property="Backup" Title="Backup" Width="80px">
                <Template Context="data">
                    <div class="@GetClass(!data.HasBackupProblem)">@data.Backup</div>
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="TableEntities.PharmX" Property="MDLPStatus" Title="Статус МДЛП" Width="80px">
                <Template Context="data">
                    <div class="@GetClass(!data.HasMdlpProblem)">@data.MDLPStatus</div>
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="TableEntities.PharmX" Property="OMSStatus" Title="Статус СУЗ" Width="80px">
                <Template Context="data">
                    <div class="@GetClass(!data.HasOmsProblem)">@data.OMSStatus</div>
                </Template>
            </RadzenGridColumn>
        </Columns>
    </RadzenGrid>
}


@code
{
    [Parameter]
    public Predicate<PharmX> Predicate { get; set; }
    [Parameter]
    public bool ShowOrgNameColumn { get; set; } = true;
    [Parameter]
    public string Title { get; set; } = "PharmX";

    protected int rowCount => pharmX?.Count() ?? 0;
    protected IEnumerable<TableEntities.PharmX> pharmX =>
        Predicate == null ? tableService.PharmXTable :
        tableService.PharmXTable.FindAll((item) => Predicate(item as PharmX));

    protected override void OnInitialized()
    {
        tableService.TableChanged += Update;
    }

    protected void Update()
    {
        var task = Task.Run(async () => await InvokeAsync(StateHasChanged));
        task.Wait();
    }

    public void Dispose()
    {
        tableService.TableChanged -= Update;
        GC.Collect();
    }

    protected string GetClass(TableEntities.PharmX pharmX)
    {
        return pharmX.HasProblem ? "has-problem" : string.Empty;
    }

    protected string GetClass(bool value)
    {
        switch (value)
        {
            case true:
                return "good-status";
            case false:
                return "bad-status";
            default:
                return string.Empty;
        }
    }
}