﻿@inject PharmXStatusDashboard.Services.GlobalTableService tableService
@implements IDisposable
@using Radzen.Blazor

<style>
    .good-status, .bad-status {
        width: 100%;
        height: 100%;
    }

    .good-status {
        background-color: lightgreen;
        color: lightgreen;
    }

    .bad-status {
        background-color: coral;
        color: coral;
    }
</style>

<RadzenGrid TItem="TableEntities.Trouble" Data="@tableService.TroubleTable" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
            AllowFiltering="true" AllowSorting="true">
    <Columns>
        <RadzenGridColumn TItem="TableEntities.Trouble" Property="OrgName" Title="Организация" Width="200px">
        </RadzenGridColumn>
        <RadzenGridColumn TItem="TableEntities.Trouble" Property="Backup" Title="Backup" Width="50px">
            <Template Context="data">
                <div class="@GetClass(!data.BackupHasProblem)">@data.BackupHasProblem</div>
            </Template>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="TableEntities.Trouble" Property="MDLPStatus" Title="Статус МДЛП" Width="50px">
            <Template Context="data">
                <div class="@GetClass(!data.MdlpHasProblem)">@data.MdlpHasProblem</div>
            </Template>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="TableEntities.Trouble" Property="OMSStatus" Title="Статус СУЗ" Width="50px">
            <Template Context="data">
                <div class="@GetClass(!data.OmsHasProblem)">@data.OmsHasProblem</div>
            </Template>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="TableEntities.Trouble" Property="TSDStatus" Title="Статус ТСД" Width="50px">
            <Template Context="data">
                <div class="@GetClass(!data.TsdHasProblem)">@data.TsdHasProblem</div>
            </Template>
        </RadzenGridColumn>
    </Columns>
    <Template Context="data">
        <OrganizationGrid Title="Организация" Predicate="(item) => item.ShortName == data.OrgName" />
        <PharmXGrid Title="PharmX" Predicate="(item) => item.OrgName == data.OrgName && item.HasProblem" />
        <TsdGrid Title="ТСД" Predicate="(item) => item.OrgName == data.OrgName && item.HasProblem" />
    </Template>
</RadzenGrid>


@code
{
    protected override void OnInitialized()
    {
        tableService.TableChanged += Update;
    }

    protected void Update()
    {
        var task = Task.Run(async () => await InvokeAsync(StateHasChanged));
        task.Wait();
    }

    public void Dispose()
    {
        tableService.TableChanged -= Update;
        GC.Collect();
    }

    protected string GetClass(bool status)
    {
        switch (status)
        {
            case false:
                return "bad-status";
            case true:
                return "good-status";
            default:
                return string.Empty;
        }
    }
}