﻿@inject PharmXStatusDashboard.Services.GlobalTableService tableService
@implements IDisposable
@using TableEntities
@using Radzen.Blazor

<style>
    .has-problem {
        color: coral
    }

    .good-status, .bad-status {
        width: 100%;
        height: 100%;
    }

    .good-status {
        background-color: lightgreen;
        color: lightgreen;
    }

    .bad-status {
        background-color: coral;
        color: coral;
    }
</style>

@if (rowCount > 0)
{
    @Title
    <RadzenGrid TItem="TableEntities.TSD" Data="@tsd" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                AllowFiltering="rowCount > 2" AllowSorting="rowCount > 2">
        <Columns>
            @if (ShowOrgNameColumn)
            {
                <RadzenGridColumn TItem="TableEntities.TSD" Property="OrgName" Title="Организация" Width="200px">
                    <Template Context="data">
                        <span class="@GetClass(data)">@data.OrgName</span>
                    </Template>
                </RadzenGridColumn>
            }
            <RadzenGridColumn TItem="TableEntities.TSD" Property="Type" Title="Тип" Width="200px">
                <Template Context="data">
                    <span class="@GetClass(data)">@data.Type</span>
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="TableEntities.TSD" Property="InnerIp" Title="IP" Width="150px">
                <Template Context="data">
                    <span class="@GetClass(data)">@data.InnerIp</span>
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="TableEntities.TSD" Property="Port" Title="Порт" Width="50px">
                <Template Context="data">
                    <span class="@GetClass(data)">@data.Port</span>
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="TableEntities.TSD" Property="ConnectionGateway" Title="Шлюз подключения" Width="150px">
                <Template Context="data">
                    <span class="@GetClass(data)">@data.ConnectionGateway</span>
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="TableEntities.TSD" Property="Version" Title="Версия" Width="100px">
                <Template Context="data">
                    <span class="@GetClass(data)">@data.Version</span>
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="TableEntities.TSD" Property="DBVersion" Title="Версия БД" Width="100px">
                <Template Context="data">
                    <span class="@GetClass(data)">@data.DBVersion</span>
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="TableEntities.TSD" Property="ServerName" Title="Сервер" Width="100px">
                <Template Context="data">
                    <span class="@GetClass(data)">@data.ServerName</span>
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="TableEntities.TSD" Property="StandType" Title="Тип Стенда" Width="100px">
                <Template Context="data">
                    <span class="@GetClass(data)">@data.StandType</span>
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="TableEntities.TSD" Property="Status" Title="Статус" Width="100px">
                <Template Context="data">
                    <div class="@GetClass(!data.HasProblem)">@data.Status</div>
                </Template>
            </RadzenGridColumn>
        </Columns>
    </RadzenGrid>
}


@code
{
    [Parameter]
    public Predicate<TSD> Predicate { get; set; }
    [Parameter]
    public bool ShowOrgNameColumn { get; set; } = true;
    [Parameter]
    public string Title { get; set; } = "ТСД";

    protected int rowCount => tsd?.Count() ?? 0;
    protected IEnumerable<TSD> tsd => Predicate == null ?
        tableService.TsdTable :
        tableService.TsdTable.FindAll((item) => Predicate(item as TSD));

    protected override void OnInitialized()
    {
        tableService.TableChanged += Update;
    }

    protected void Update()
    {
        var task = Task.Run(async () => await InvokeAsync(StateHasChanged));
        task.Wait();
    }

    public void Dispose()
    {
        tableService.TableChanged -= Update;
        GC.Collect();
    }

    protected string GetClass(TableEntities.TSD tsd)
    {
        return tsd.HasProblem ? "has-problem" : string.Empty;
    }

    protected string GetClass(bool value)
    {
        switch (value)
        {
            case true:
                return "good-status";
            case false:
                return "bad-status";
            default:
                return string.Empty;
        }
    }
}