﻿@inject PharmXStatusDashboard.Services.GlobalTableService tableService
@implements IDisposable
@using Radzen.Blazor

<style>
    .has-problem {
        color: coral
    }

    .good-status, .bad-status {
        width: 100%;
        height: 100%;
    }

    .good-status {
        background-color: lightgreen;
        color: lightgreen;
    }

    .bad-status {
        background-color: coral;
        color: coral;
    }
</style>

<RadzenGrid TItem="TableEntities.TSD" Data="@Table" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
            AllowFiltering="true" AllowSorting="true">
    <Columns>
        <RadzenGridColumn TItem="TableEntities.TSD" Property="OrgName" Title="Организация" Width="200px">
            <Template Context="data">
                <span class="@GetClass(data)">@data.OrgName</span>
            </Template>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="TableEntities.TSD" Property="Type" Title="Тип" Width="200px">
            <Template Context="data">
                <span class="@GetClass(data)">@data.Type</span>
            </Template>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="TableEntities.TSD" Property="InnerIp" Title="IP" Width="150px">
            <Template Context="data">
                <span class="@GetClass(data)">@data.InnerIp</span>
            </Template>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="TableEntities.TSD" Property="Port" Title="Порт" Width="50px">
            <Template Context="data">
                <span class="@GetClass(data)">@data.Port</span>
            </Template>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="TableEntities.TSD" Property="ConnectionGateway" Title="Шлюз Подключения" Width="150px">
            <Template Context="data">
                <span class="@GetClass(data)">@data.ConnectionGateway</span>
            </Template>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="TableEntities.TSD" Property="Version" Title="Версия" Width="100px">
            <Template Context="data">
                <span class="@GetClass(data)">@data.Version</span>
            </Template>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="TableEntities.TSD" Property="DBVersion" Title="Версия БД" Width="100px">
            <Template Context="data">
                <span class="@GetClass(data)">@data.DBVersion</span>
            </Template>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="TableEntities.TSD" Property="ServerName" Title="Сервер" Width="100px">
            <Template Context="data">
                <span class="@GetClass(data)">@data.ServerName</span>
            </Template>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="TableEntities.TSD" Property="StandType" Title="Тип Стенда" Width="100px">
            <Template Context="data">
                <span class="@GetClass(data)">@data.StandType</span>
            </Template>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="TableEntities.TSD" Property="Status" Title="Статус" Width="100px">
            <Template Context="data">
                <div class="@GetClass(!data.HasProblem)">@data.Status</div>
            </Template>
        </RadzenGridColumn>
    </Columns>
    <Template Context="data">
        <OrganizationGrid Predicate="(item) => item.ShortName == data.OrgName" Title="Организация" />
        <PharmXGrid Predicate="(item) =>
                            {
                                var index = data.Organization?.TSD.IndexOf(data);
                                if (!index.HasValue)
                                    return false;
                                if (data.Organization.PharmX.Count <= index)
                                    return false;
                                return item == data.Organization.PharmX[index.Value];
                            }" />
    </Template>
</RadzenGrid>


@code
{
    protected IEnumerable<PharmXStatusDashboard.TableEntities.TSD> Table => tableService.TsdTestTable;

    protected override void OnInitialized()
    {
        tableService.TableChanged += Update;
    }

    protected void Update()
    {
        var task = Task.Run(async () => await InvokeAsync(StateHasChanged));
        task.Wait();
    }

    public void Dispose()
    {
        tableService.TableChanged -= Update;
        GC.Collect();
    }

    protected string GetClass(TableEntities.TSD tsd)
    {
        return tsd.HasProblem ? "has-problem" : string.Empty;
    }

    protected string GetClass(bool value)
    {
        switch (value)
        {
            case true:
                return "good-status";
            case false:
                return "bad-status";
            default:
                return string.Empty;
        }
    }
}