﻿@page "/"
@layout MainLayout

<RadzenContent Container="contentContainer">
    <ChildContent>
        <RadzenHeading Size="H1">
        </RadzenHeading>
        <h1>Проблемы</h1>
        <PharmXStatusDashboard.Components.TroubleExtendedTable />
        <h1>Организации</h1>
        <PharmXStatusDashboard.Components.OrganizationExtendedGrid />
        <h1>PharmX</h1>
        <PharmXStatusDashboard.Components.PharmXExtendedGrid />
        <h1>ТСД</h1>
        <PharmXStatusDashboard.Components.TsdExtendedGrid />
    </ChildContent>
</RadzenContent>
