﻿@page "/organizations"
@layout MainLayout

<RadzenContent Container="contentContainer">
    <ChildContent>
        <RadzenHeading Size="H1" Text="Организации">
        </RadzenHeading>
        <PharmXStatusDashboard.Components.OrganizationExtendedGrid />
    </ChildContent>
</RadzenContent>
