﻿@page "/pharmX"
@layout MainLayout

<RadzenContent Container="contentContainer">
    <ChildContent>
        <RadzenHeading Size="H1" Text="PharmX">
        </RadzenHeading>
        <PharmXStatusDashboard.Components.PharmXExtendedGrid />
        <h1>@StandType.RuRelease</h1>
        <PharmXStatusDashboard.Components.PharmXReleaseExtendedGrid />
        <h1>@StandType.RuTest</h1>
        <PharmXStatusDashboard.Components.PharmXTestExtendedGrid />
    </ChildContent>
</RadzenContent>
