﻿@page "/tsd"
@layout MainLayout

<RadzenContent Container="contentContainer">
    <ChildContent>
        <RadzenHeading Size="H1" Text="ТСД">
        </RadzenHeading>
        <PharmXStatusDashboard.Components.TsdExtendedGrid />
        <h1>@StandType.RuRelease</h1>
        <PharmXStatusDashboard.Components.TsdReleaseExtendedGrid />
        <h1>@StandType.RuTest</h1>
        <PharmXStatusDashboard.Components.TsdTestExtendedGrid />
    </ChildContent>
</RadzenContent>
