﻿@inherits PharmXStatusDashboard.Layouts.MainLayoutComponent
@using Radzen
@using Radzen.Blazor
<RadzenDialog />
<RadzenNotification />

<style>
    tr:hover > td {
        border-color: white;
    }

    span.fa-chevron-circle-down {
        color: yellow;
    }
</style>

<RadzenPanelMenu style="display: flex">
    <ChildContent>
        <RadzenPanelMenuItem Text="Главная" Path="/">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Организации" Path="organizations">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="PharmX" Path="pharmX">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="ТСД" Path="tsd">
        </RadzenPanelMenuItem>
    </ChildContent>
</RadzenPanelMenu>
<RadzenContentContainer Name="contentContainer">
    @Body
</RadzenContentContainer>
